@model ChangePasswordDto

<div id="modal-user-settings" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>@WebResources.Panel</h4>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Content -->
            <div class="modal-body">
                <!-- Example Tabs, initialized at main.js - uiDemo() -->
                <!-- Tab links -->
                <ul id="example-user-tabs" class="nav nav-tabs">
                    <li class="active"><a href="javascript:void(0)"><i class="fa fa-cogs"></i> @WebResources.CambiarClave</a></li>
                </ul>
                <!-- END Tab links -->
                <!-- END Tab Content -->
                <div class="tab-content">

                    <!-- First Tab -->
                    <div class="tab-pane active">
                        @using (Html.BeginForm("ChangePassword", "Account", new { area = "" }, FormMethod.Post, new { @id = "frmChangePassword", @class = "form-horizontal form-box remove-margin" }))
                        {
                            <div id="respuestaChangePassword">
                            </div>

                            <div class="form-box-content">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">                                            
                                            @Html.PasswordFor(model => model.OldPassword, new { @placeholder = ChangePasswordDtoResources.ClaveActual, @class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">                                            
                                            @Html.PasswordFor(model => model.NewPassword, new { @placeholder = ChangePasswordDtoResources.ClaveNueva, @class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">                                            
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = ChangePasswordDtoResources.ConfirmarClaveNueva, @class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>

                                <div class="form-group form-actions">
                                    <div class="col-md-10 col-md-offset-2">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @WebResources.Guardar</button>
                                        <button id="cerrarChangePassword" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> @WebResources.Cerrar</button>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <!-- END First Tab -->
                </div>
                <!-- END Tab Content -->
            </div>
            <!-- END Modal Content -->
            <!-- Modal footer -->
            <!-- END Modal footer -->
        </div>
    </div>
</div>
