@model ForgotPasswordDto
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<!-- Recovery Password Form -->
@using (Html.BeginForm("ForgotPassword", "Account", new { area = "" }, FormMethod.Post, new { @id = "frmForgotPassword", @class = "login-form form-inline" }))
{
    <div class="titulo-remesa">@WebResources.RecuperarContrasenia</div>

    <div class="form-box-content">

        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = ForgotPasswordDtoResources.Email, @class = "form-control" })
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

    </div>

    <br />
    <div class="control-group remove-margin clearfix pad">
        <div class="pull-left">
            <a href="@Url.Action("Login")" class="btn btn-small btn-successlogin"><i class="fa fa-repeat"></i> @WebResources.BtnRegresar</a>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-small btn-successlogin"><i class="fa fa-envelope fa-fw"></i> @WebResources.BtnEnviar</button>
        </div>
    </div>
    
    <div id="respuestaForgotPassword">
    </div>
}
<!-- END Recovery Password Form -->
@section scripts{
    <script type="text/javascript" src="@Url.Script("~/Content/ViewsJs/AccountForgotPassword.js")"></script>
}
