@using Infrastructure.CrossCutting.Enums
@using Presentation.Web.Helpers;
@model Application.MainModule.DTO.FiguraIndexDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section ScriptContent
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/moment.js")"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" rel='stylesheet' type='text/css' />
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link href="@Url.Content("~/Content/css/custom.css")" rel='stylesheet' type='text/css' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ajaxStop($.unblockUI);

        $(document).ready(function () {

            $("#ddlTienda").select2({
                templateResult: function (state) {
                    if (!state.id) { return state.text; }
                    var imgeUrl = $(state.element).attr("data-imagesrc");

                    var $state = $(
                      '<span><img src="' + imgeUrl + '"/> </span>'
                    );
                    return $state;
                }
            });

            $("#divImagen").dropzone({
                //url: "@Url.Action("GuardarArchivosSubidos", "Home")",
                url: "@Url.Action("Registrar", "Home")",
                uploadMultiple: false,
                parallelUploads: 1,
                maxFiles: 1,
                addRemoveLinks: false,
                autoProcessQueue: false,
                previewTemplate: $("#templateImage").html(),
                init: function () {
                    var myDropzone = this;

                    // First change the button to actually tell Dropzone to process the queue.
                    $("#btnGrabar").bind("click", function (e) {
                        // Make sure that the form isn't actually being sent.
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });

                    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                    // of the sending event because uploadMultiple is set to true.
                    this.on("sendingmultiple", function () {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.
                    });
                    this.on("successmultiple", function (files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.
                    });
                    this.on("errormultiple", function (files, response) {
                        // Gets triggered when there was an error sending the files.
                        // Maybe show form again, and notify user of error
                    });

                    this.on("addedfile", function (file) {



                        file.previewElement.addEventListener("click", function() {
                            myDropzone.removeFile(file);
                        });
                    });
                }
            });

            $('#calendar').fullCalendar({
                editable: true,
                displayEventTime: false,
                events: function (start, end, timezone, callback) {
                    var parametros = {
                        fechaInicio: start.format("DD/MM/YYYY"),
                        fechaFin: end.format("DD/MM/YYYY")
                    };

                    $.blockUI({
                        css: {
                            border: 'none'
                        },
                        message: $("#ajaxloader")
                    });

                    $.ajax({
                        url: '@Url.Action("ObtenerPedidosMes", "Home")',
                        method: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(parametros),
                        success: function (response) {
                            var events = [];
                            $.each(response.Data, function (index, pedido) {
                                var evento = {
                                    title: pedido.Nombre,
                                    start: moment(pedido.FechaPedido, "YYYY-MM-DD"),
                                    end: moment(pedido.FechaPedido, "YYYY-MM-DD"),
                                    data: pedido,
                                    editable: false
                                };

                                if (pedido.EstadoPedidoId == '@((int) TipoPedido.PreOrden)') {
                                    if (!pedido.FechaEnvio) {
                                        evento.start = moment(pedido.FechaRelease, "YYYY-MM-DD");
                                        evento.end = moment(pedido.FechaRelease, "YYYY-MM-DD");
                                        evento.color = "#FF9933";
                                    }
                                    else {
                                        evento.start = moment(pedido.FechaEnvio, "YYYY-MM-DD");
                                        evento.end = moment(pedido.FechaEnvio, "YYYY-MM-DD");
                                    }  
                                }

                                events.push(evento);
                            });
                            callback(events);
                        }
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var pedido = calEvent.data;

                    $("#txtId").val(pedido.Id);
                    $("#txtNombre").val(pedido.Nombre);
                    $("#ddlTienda").val(pedido.TiendaId);
                    $("#ddlEscultor").val(pedido.EscultorId);
                    $("#ddlEstadoFigura").val(pedido.EstadoFiguraId);
                    $("#ddlEstadoPedido").val(pedido.EstadoPedidoId);
                    $("#txtFechaPedido").val(pedido.FechaPedido);
                    $("#txtFechaRelease").val(pedido.FechaRelease);
                    $("#txtFechaLlegada").val(pedido.FechaLlegada);
                    $("#txtFechaEnvio").val(pedido.FechaEnvio);
                    $("#txtPrecio").val(pedido.Precio);
                    $("#txtShipping").val(pedido.Shipping);
                    $("#txtPrecioTotal").val(pedido.PrecioTotal);
                    $("#txtPrecioTotalSoles").val(pedido.PrecioTotalSoles);

                    $("#divAgregarPedido").modal('show');
                }
            });

            $("#btnAgregarFigura").bind("click", function (evt) {
                evt.preventDefault();
                LimpiarFormulario();

                $("#divAgregarPedido").modal('show');
            });

            $("#btnGrabar").bind("click", function (evt) {
                //if (!$("#pedidoForm").valid()) {
                //    evt.preventDefault();
                //    return;
                //}

                var figuraDto = {
                    Id: $("#txtId").val(),
                    Nombre: $("#txtNombre").val(),
                    TiendaId: $("#ddlTienda").val(),
                    EscultorId: $("#ddlEscultor").val(),
                    EstadoFiguraId: $("#ddlEstadoFigura").val(),
                    EstadoPedidoId: $("#ddlEstadoPedido").val(),
                    FechaPedido: $("#txtFechaPedido").val(),
                    FechaRelease: $("#txtFechaRelease").val(),
                    FechaLlegada: $("#txtFechaLlegada").val(),
                    FechaEnvio: $("#txtFechaEnvio").val(),
                    Precio: $("#txtPrecio").val(),
                    Shipping: $("#txtShipping").val()
                };

                $.ajax({
                    method: "POST",
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: "@Url.Action("Registrar", "Home")",
                    data: JSON.stringify(figuraDto)
                }).done(function (response) {
                    if (response.Success) {
                        LimpiarFormulario();

                        $('#calendar').fullCalendar('refetchEvents');
                        $("#divAgregarPedido").modal('hide');
                    }
                });
            });
        });

        function LimpiarFormulario() {
            $("#txtNombre").val("");
            $("#ddlTienda").val("");
            $("#ddlEscultor").val("");
            $("#ddlEstadoFigura").val("");
            $("#ddlEstadoPedido").val("");
            $("#txtFechaPedido").val("");
            $("#txtFechaRelease").val("");
            $("#txtFechaLlegada").val("");
            $("#txtFechaEnvio").val("");
            $("#txtPrecio").val("");
            $("#txtShipping").val("");
            $("#txtId").val("");
            $("#txtPrecioTotal").val("");
            $("#txtPrecioTotalSoles").val("");
        }
    </script>
}

<div class="dz-preview dz-file-preview" id="templateImage">
    <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <img data-dz-thumbnail />
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    @*<div class="dz-success-mark"><span>✔</span></div>*@
    @*<div class="dz-error-mark"><span>✘</span></div>*@
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>

<div id="divAgregarPedido" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Pedido</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="pedidoForm" method="post" class="form-horizontal">
                        @Html.HiddenFor(p => p.Figura.Id, new { @class = "form-control", @id = "txtId" })
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(p => p.Figura.Nombre, new { @class = "form-control", @id = "txtNombre", @rows = "3" })
                                    @Html.ValidationMessageFor(p => p.Figura.Nombre)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.FechaRelease, new { @class = "col-sm-6 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.FechaRelease, new { @class = "form-control", @id = "txtFechaRelease", @type = "date" })
                                    @Html.ValidationMessageFor(p => p.Figura.FechaRelease)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.PrecioTotalSoles, new { @class = "col-sm-6 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.PrecioTotalSoles, new { @class = "form-control text-right", @id = "txtPrecioTotalSoles", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="divImagen"></div>
                        </div>
                        <div class="col-md-12">
                            <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Pedido</a></li>
                                <li><a href="#tab2" data-toggle="tab">Envío</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="formTabContent">
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.TiendaId, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.DropDownListForDdSlick("ddlTienda", Model.Tiendas)
                                                @Html.ValidationMessageFor(p => p.Figura.TiendaId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.EstadoFiguraId, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(p => p.Figura.EstadoFiguraId, new SelectList(Model.EstadosFigura, "Key", "Value"), new { @class = "form-control input-sm select-select2", @id = "ddlEstadoFigura" })
                                                @Html.ValidationMessageFor(p => p.Figura.EstadoFiguraId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.EstadoPedidoId, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(p => p.Figura.EstadoPedidoId, new SelectList(Model.EstadosPedido, "Key", "Value"), new { @class = "form-control input-sm select-select2", @id = "ddlEstadoPedido" })
                                                @Html.ValidationMessageFor(p => p.Figura.EstadoPedidoId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.Precio, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.Precio, new { @class = "form-control", @id = "txtPrecio" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="formTabContent">
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.FechaPedido, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.FechaPedido, new { @class = "form-control", @id = "txtFechaPedido", @type = "date" })
                                                @Html.ValidationMessageFor(p => p.Figura.FechaPedido)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.FechaEnvio, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.FechaEnvio, new { @class = "form-control", @id = "txtFechaEnvio", @type = "date" })
                                                @Html.ValidationMessageFor(p => p.Figura.FechaEnvio)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.FechaLlegada, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.FechaLlegada, new { @class = "form-control", @id = "txtFechaLlegada", @type = "date" })
                                                @Html.ValidationMessageFor(p => p.Figura.FechaLlegada)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.Shipping, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.Shipping, new { @class = "form-control", @id = "txtShipping" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(p => p.Figura.Nombre, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.TextAreaFor(p => p.Figura.Nombre, new {@class = "form-control", @id = "txtNombre", @rows = "3"})
                                    @Html.ValidationMessageFor(p => p.Figura.Nombre)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.TiendaId, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(p => p.Figura.TiendaId, new SelectList(Model.Tiendas, "Key", "Value"), new {@class = "form-control input-sm select-select2", @id = "ddlTienda"})
                                    @Html.ValidationMessageFor(p => p.Figura.TiendaId)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.EscultorId, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(p => p.Figura.EscultorId, new SelectList(Model.Escultores, "Key", "Value"), new {@class = "form-control input-sm select-select2", @id = "ddlEscultor"})
                                    @Html.ValidationMessageFor(p => p.Figura.EscultorId)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.EstadoFiguraId, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(p => p.Figura.EstadoFiguraId, new SelectList(Model.EstadosFigura, "Key", "Value"), new {@class = "form-control input-sm select-select2", @id = "ddlEstadoFigura"})
                                    @Html.ValidationMessageFor(p => p.Figura.EstadoFiguraId)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.EstadoPedidoId, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(p => p.Figura.EstadoPedidoId, new SelectList(Model.EstadosPedido, "Key", "Value"), new {@class = "form-control input-sm select-select2", @id = "ddlEstadoPedido"})
                                    @Html.ValidationMessageFor(p => p.Figura.EstadoPedidoId)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.FechaPedido, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.FechaPedido, new {@class = "form-control", @id = "txtFechaPedido", @type = "date"})
                                    @Html.ValidationMessageFor(p => p.Figura.FechaPedido)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.FechaRelease, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.FechaRelease, new {@class = "form-control", @id = "txtFechaRelease", @type = "date"})
                                    @Html.ValidationMessageFor(p => p.Figura.FechaRelease)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.FechaLlegada, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.FechaLlegada, new {@class = "form-control", @id = "txtFechaLlegada", @type = "date"})
                                    @Html.ValidationMessageFor(p => p.Figura.FechaLlegada)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.Precio, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.Precio, new {@class = "form-control", @id = "txtPrecio"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.Shipping, new {@class = "col-sm-4 control-label"})
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.Shipping, new {@class = "form-control", @id = "txtShipping"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.PrecioTotal, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.PrecioTotal, new { @class = "form-control", @id = "txtPrecioTotal", @disabled = "disabled"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.PrecioTotalSoles, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-6">
                                   @Html.TextBoxFor(p => p.Figura.PrecioTotalSoles, new { @class = "form-control", @id = "txtPrecioTotalSoles", @disabled = "disabled" })
                                </div>
                            </div>*@
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGrabar">Grabar</button>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services">
    <div class="container">
        <div class="service-head text-center">
            <h2>Mes actual <a href="#" id="btnAgregarFigura">+</a></h2>
            <span></span>
        </div>

        <!--- services-grids --->
        <div class="services-grids text-center">
            <div id='calendar' class="calendar"></div>
            <div class="clearfix"> </div>
        </div>

        <!--- services-grids --->
    </div>
</div>
<div class="clearfix"> </div>