@using Infrastructure.CrossCutting.Enums
@using Presentation.Web.Helpers;
@model Application.MainModule.DTO.FiguraIndexDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section ScriptContent
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/moment.js")"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/css/custom.css")" rel='stylesheet' type='text/css' />

    <script type="text/javascript">
        $(document).ajaxStop($.unblockUI);
        
        $(document).ready(function () {
            $("#imgImagen").click(function() {
                $("#txtImagen").trigger("click");
            });

            $("#txtImagen").change(function () {
                readURL(this);
            });

            $('#calendar').fullCalendar({
                editable: true,
                displayEventTime: false,
                events: function (start, end, timezone, callback) {
                    var parametros = {
                        fechaInicio: start.format("DD/MM/YYYY"),
                        fechaFin: end.format("DD/MM/YYYY")
                    };

                    $.blockUI({ css: { border: 'none' }, message: $("#ajaxloader") });

                    $.ajax({
                        url: '@Url.Action("ObtenerPedidosMes", "Home")',
                        method: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(parametros),
                        success: function (response) {
                            var events = [];
                            if (!response.Data) return;

                            $.each(response.Data, function (index, pedido) {
                                var evento = {
                                    title: pedido.Nombre,
                                    start: moment(pedido.FechaPedido, "YYYY-MM-DD"),
                                    end: moment(pedido.FechaPedido, "YYYY-MM-DD"),
                                    data: pedido,
                                    editable: false
                                };

                                if (pedido.EstadoPedidoId == '@((int) TipoPedido.PreOrden)') {
                                    if (!pedido.FechaEnvio) {
                                        evento.start = moment(pedido.FechaRelease, "YYYY-MM-DD");
                                        evento.end = moment(pedido.FechaRelease, "YYYY-MM-DD");
                                        evento.color = "#FF9933";
                                    }
                                    else {
                                        evento.start = moment(pedido.FechaEnvio, "YYYY-MM-DD");
                                        evento.end = moment(pedido.FechaEnvio, "YYYY-MM-DD");
                                    }  
                                }

                                events.push(evento);
                            });
                            callback(events);
                        }
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var pedido = calEvent.data;

                    $("#txtId").val(pedido.Id);
                    $("#txtNombre").val(pedido.Nombre);
                    $("#ddlTienda").val(pedido.TiendaId);
                    $("#ddlEscultor").val(pedido.EscultorId);
                    $("#ddlEstadoFigura").val(pedido.EstadoFiguraId);
                    $("#ddlEstadoPedido").val(pedido.EstadoPedidoId);
                    $("#txtFechaPedido").val(pedido.FechaPedido);
                    $("#txtFechaRelease").val(pedido.FechaRelease);
                    $("#txtFechaLlegada").val(pedido.FechaLlegada);
                    $("#txtFechaEnvio").val(pedido.FechaEnvio);
                    $("#txtPrecio").val(pedido.Precio);
                    $("#txtShipping").val(pedido.Shipping);
                    $("#txtPrecioTotal").val(pedido.PrecioTotal);
                    $("#txtPrecioTotalSoles").val(pedido.PrecioTotalSoles);

                    if (pedido.RutaImagen)
                        $("#imgImagen").attr("src", pedido.RutaImagen);
                    else {
                        $("#imgImagen").attr("src", "");
                    }

                    $("#divAgregarPedido").modal('show');
                }
            });

            $("#btnAgregarFigura").bind("click", function (evt) {
                evt.preventDefault();
                LimpiarFormulario();

                $("#divAgregarPedido").modal('show');
            });

            $("#btnGrabar").bind("click", function (evt) {
                var formData = new FormData($("form")[0]);

                var figuraDto = {
                    Id: $("#txtId").val(),
                    Nombre: $("#txtNombre").val(),
                    TiendaId: $("#ddlTienda").val(),
                    EscultorId: $("#ddlEscultor").val(),
                    EstadoFiguraId: $("#ddlEstadoFigura").val(),
                    EstadoPedidoId: $("#ddlEstadoPedido").val(),
                    FechaPedido: $("#txtFechaPedido").val(),
                    FechaRelease: $("#txtFechaRelease").val(),
                    FechaLlegada: $("#txtFechaLlegada").val(),
                    FechaEnvio: $("#txtFechaEnvio").val(),
                    Precio: $("#txtPrecio").val(),
                    Shipping: $("#txtShipping").val(),
                    Imagen: $("#txtImagen")[0].files[0],
                    RutaImagen: $("#imgImagen").attr("src")
                };                

                $.blockUI({ css: { border: 'none' }, message: $("#ajaxloader") });

                $.ajax({
                    method: "POST",
                    contentType: false,
                    processData: false,
                    url: "@Url.Action("Registrar", "Home")",
                    data: formData
                }).done(function (response) {
                    if (response.Success) {
                        LimpiarFormulario();

                        $('#calendar').fullCalendar('refetchEvents');
                        $("#divAgregarPedido").modal('hide');
                    }
                });
            });
        });

        function LimpiarFormulario() {
            $("#txtNombre").val("");
            $("#ddlTienda").val("");
            $("#ddlEscultor").val("");
            $("#ddlEstadoFigura").val("");
            $("#ddlEstadoPedido").val("");
            $("#txtFechaPedido").val("");
            $("#txtFechaRelease").val("");
            $("#txtFechaLlegada").val("");
            $("#txtFechaEnvio").val("");
            $("#txtPrecio").val("");
            $("#txtShipping").val("");
            $("#txtId").val("");
            $("#txtPrecioTotal").val("");
            $("#txtPrecioTotalSoles").val("");
            $("#imgImagen").attr("src", "");
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgImagen').attr('src', e.target.result);
                    //display($('#preview_img'));
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}

<div class="dz-preview dz-file-preview" id="templateImage">
    <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <img data-dz-thumbnail />
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>

<div id="divAgregarPedido" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Pedido</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="pedidoForm" method="post" class="form-horizontal" enctype="multipart/form-data">
                        @Html.HiddenFor(p => p.Figura.Id, new { @class = "form-control", @id = "txtId", @Name = "Id" })
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(p => p.Figura.EscultorId, new SelectList(Model.Escultores, "Key", "Value"), new { @class = "form-control input-sm select-select2", @id = "ddlEscultor", @Name = "EscultorId"})
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(p => p.Figura.Nombre, new { @class = "form-control", @id = "txtNombre", @rows = "3", @Name = "Nombre" })
                                    @Html.ValidationMessageFor(p => p.Figura.Nombre)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.FechaRelease, new { @class = "col-sm-6 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.FechaRelease, new { @class = "form-control", @id = "txtFechaRelease", @type = "date", @Name = "FechaRelease" })
                                    @Html.ValidationMessageFor(p => p.Figura.FechaRelease)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Figura.PrecioTotalSoles, new { @class = "col-sm-6 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(p => p.Figura.PrecioTotalSoles, new { @class = "form-control text-right", @id = "txtPrecioTotalSoles", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img id="imgImagen" />
                            </div>
                            <input type="file" id="txtImagen" name ="Imagen" title="" style="display: none" />
                        </div>
                        <div class="col-md-12">
                            <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Pedido</a></li>
                                <li><a href="#tab2" data-toggle="tab">Envío</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div class="formTabContent">
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.TiendaId, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(p => p.Figura.TiendaId, new SelectList(Model.Tiendas, "Value", "Text"), new { @class = "form-control input-sm select-select2", @id = "ddlTienda", @Name = "TiendaId" })
                                                @Html.ValidationMessageFor(p => p.Figura.TiendaId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.EstadoFiguraId, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(p => p.Figura.EstadoFiguraId, new SelectList(Model.EstadosFigura, "Key", "Value"), new { @class = "form-control input-sm select-select2", @id = "ddlEstadoFigura", @Name = "EstadoFiguraId" })
                                                @Html.ValidationMessageFor(p => p.Figura.EstadoFiguraId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.EstadoPedidoId, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(p => p.Figura.EstadoPedidoId, new SelectList(Model.EstadosPedido, "Key", "Value"), new { @class = "form-control input-sm select-select2", @id = "ddlEstadoPedido", @Name = "EstadoPedidoId" })
                                                @Html.ValidationMessageFor(p => p.Figura.EstadoPedidoId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.Precio, new { @class = "col-sm-2 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.Precio, new { @class = "form-control", @id = "txtPrecio", @Name = "Precio" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="formTabContent">
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.FechaPedido, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.FechaPedido, new { @class = "form-control", @id = "txtFechaPedido", @type = "date", @Name = "FechaPedido" })
                                                @Html.ValidationMessageFor(p => p.Figura.FechaPedido)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.FechaEnvio, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.FechaEnvio, new { @class = "form-control", @id = "txtFechaEnvio", @type = "date", @Name = "FechaEnvio" })
                                                @Html.ValidationMessageFor(p => p.Figura.FechaEnvio)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.FechaLlegada, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.FechaLlegada, new { @class = "form-control", @id = "txtFechaLlegada", @type = "date", @Name = "FechaLlegada" })
                                                @Html.ValidationMessageFor(p => p.Figura.FechaLlegada)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(p => p.Figura.Shipping, new { @class = "col-sm-4 control-label" })
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(p => p.Figura.Shipping, new { @class = "form-control", @id = "txtShipping", @Name = "Shipping" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGrabar">Grabar</button>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services">
    <div class="container">
        <div class="service-head text-center">
            <h2>Mes actual <a href="#" id="btnAgregarFigura">+</a></h2>
            <span></span>
        </div>

        <!--- services-grids --->
        <div class="services-grids text-center">
            <div id='calendar' class="calendar"></div>
            <div class="clearfix"> </div>
        </div>

        <!--- services-grids --->
    </div>
</div>
<div class="clearfix"> </div>